<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/page.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row"> 
                <a href="../index.html"><img class="logo" src="../images/jscore.png"></a>
                <div class="icon-menu" id="menuBtn"></div>
                <ul class="nav" id="nav">
                    <li class="active"><a href="about.html">About</a></li>
                    <li><a href="contents.html">Contents</a></li>
                    <li><a href="">Memebers</a></li>
                    <li><a href="">Join</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>About JS Core Group</h1> 
            <h3>关于JS小组</h3>
        </div>
    </div>
    <div class="supporting">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <h4>小组目标</h4>
                    <div class="text">
                        <p class="minor-text">以总结、串讲、练习相结合的方式巩固与提高JavaScript基础，形成全面的知识体系，培养清晰的编程思路，打造扎实的语言功底。</p>
                    </div>
                    <h4>内容安排</h4>
                    <div class="text">
                        <p class="minor-text">主要参照JavaScript高级程序设计和JavaScript 标准参考教程（阮一峰），每周覆盖一个专门的知识点。内容包括但不限于：基础语法；数据类型；运动与定时器；字符串、数组方法及日期对象；DOM与DOM操作；BOM对象；事件基础；事件进阶；正则表达式；面向对象基础；面向对象进阶；Ajax与跨域请求；JS兼容性；ES6基础；ES6进阶；高级技巧与最佳实践。本小组在内容安排上滚动进行，知识点间相对独立，力求使小组成员每周都可有所巩固提高。</p>
                    </div>
                    <h4>组织形式</h4>
                    <div class="text">
                        <ul class="minor-text">
                            <li>组长责任：
                                <ol>
                                    <li>每周一发送当周知识点总结PPT</li>
                                    <li>每周一发送与PPT对照的知识点串讲音频</li>
                                    <li>随知识点总结PPT，提出与当周知识点紧密结合的小练习</li>
                                </ol>
                            </li>
                            <li>组员责任：
                                <ol>
                                    <li>查阅组长制作的资料，并自行复习、总结当周知识点</li>
                                    <li>每周完成练习作业，并录制音频（5分钟以内）扼要复述本周知识点和练习的实现思路，周五晚12:00前在群内共享</li>
                                    <li>自觉维护群内气氛，积极履行其他必要的群内职责</li>
                                </ol>
                            </li>
                            <li>组长需自觉履行组长责任，2次未正常履行撤销组长职位。
                            <li>组员需自觉履行组员责任，3次未正常履行视为自愿退群。
                            <li>本小组将会设立自身的QQ群用于交流和资料共享。
                            <li>本小组依附先行者计划存在，若组内成员退出先行者计划视为自动退出本小组。</li>
                            <li>活动解释权归组长与老尚共同所有，最终解释权归老尚所有。</li>
                        </ul>
                    </div>
                    <h4>预期投入与收获</h4>
                     <div class="text">
                        <ul class="minor-text">
                            <li>投入：每周需投入时间复习和总结JS基础（可能会枯燥）</li>
                            <li>收获：与同伴一起，系统性的复习JS基础知识点</li>
                            <li>投入：每周录制短音频，扼要串讲当周知识点和练习实现思路（可能有点难）</li>
                            <li>收获：更加清晰的知识体系和编程思路；面试和工作时更加优秀的表达能力</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="text-center">Page crafted by <a href="https://github.com/antipasjiajia">Antipasjiajia</a>.</div>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>