<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../js/audio/audio.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <a href="../index.html"><img class="logo" src="../images/jscore.png"></a>
                <div class="icon-menu" id="menuBtn"></div>
                <ul class="nav" id="nav">
                    <li><a href="about.html">About</a></li>
                    <li class="active"><a href="contents.html">Contents</a></li>
                    <li><a href="">Memebers</a></li>
                    <li><a href="">Join</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Weekly contents</h1>
            <h3 class="ch">JS小组每周内容</h3>
        </div>
    </div>
    <div class="supporting">
        <div class="container">
            <div class="row loading" id="loading">
                <div class="text-center"><img src="../images/squares.gif" alt="loading"></div>
            </div>
            <div class="row" id="contentsAnchor">
            </div>
        </div>
    </div>
    <div id="footer"></div>

    
    
    <script src="../js/ajax-util.js"></script>
    <script src="../js/audio/audio.js"></script>
    <script src="../js/contents.js"></script>

</body>

</html>
